$mdn-blue: #83d0f2;
$mdn-font:  "x-locale-heading-primary","zillaslab","Palatino","Palatino Linotype","x-locale-heading-secondary","serif";

body {
    background-image: url("../images/mdn-logo.svg");
    background-repeat: no-repeat;
    font-family: $mdn-font;
}

main {
    background-image: url("../images/mdn-bg.gif");
}

ul {
    list-style-type: none;
}

input[type="radio"] {
    margin: 20px;
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.page-header {
    margin: 3.5rem 2rem;
    padding: 0 1em;
    background-color: #000;
    color: #fff;
}

.page-header h1 {
    margin-top: 10px; 
}

.footer {
    background-color: #222;
    color: $mdn-blue;
}

.summary {
    margin: 5%;
}

// @include media-breakpoint-down(xs) { ... }
// @include media-breakpoint-down(sm) { ... }
// @include media-breakpoint-down(md) { ... }
// @include media-breakpoint-down(lg) { ... }