body {
  background-image: url("../images/mdn-logo.svg");
  background-repeat: no-repeat;
  font-family: "x-locale-heading-primary", "zillaslab", "Palatino", "Palatino Linotype", "x-locale-heading-secondary", "serif"; }

main {
  background-image: url("../images/mdn-bg.gif"); }

ul {
  list-style-type: none; }

input[type="radio"] {
  margin: 20px; }

.page-header {
  margin: 3.5rem 2rem;
  padding: 0 1em;
  background-color: #000;
  color: #fff; }

.footer {
  background-color: #222;
  color: #83d0f2; }

.summary {
  margin-bottom: 10%; }
