body {
  background-image: url("../images/mdn-logo.svg");
  background-repeat: no-repeat;
  font-family: "x-locale-heading-primary", "zillaslab", "Palatino", "Palatino Linotype", "x-locale-heading-secondary", "serif"; }

main {
  background-image: url("../images/mdn-bg.gif"); }

ul {
  list-style-type: none; }

input[type="radio"] {
  margin: 20px; }

button {
  outline: none;
  width: 150px;
  height: 50px;
  background-color: #222;
  color: #fff; }

button:hover {
  cursor: pointer; }

.page-header {
  margin: 3.5rem 2rem;
  padding: 0 1em;
  background-color: #222;
  color: #fff; }

.page-header h1 {
  margin-top: 10px; }

.footer {
  background-color: #222;
  color: #83d0f2; }

.summary {
  margin: 5%; }

.answers {
  padding-bottom: 10%; }

#answers-wrapper {
  margin-bottom: 5%; }

#seconds {
  color: #83d0f2; }
